#banner {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  zoom: 1; }
  #banner ul {
    position: absolute;
    top: 0;
    left: 50%;
    height: 400px;
    margin-left: -960px; }
    #banner ul li {
      position: absolute; }
  #banner ol {
    position: absolute;
    z-index: 111;
    left: 50%;
    bottom: 20px;
    margin-left: -120px; }
    #banner ol li {
      float: left;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 50%;
      margin: 0 5px; }
      #banner ol li a {
        color: #fff; }
    #banner ol .on {
      background: rgba(255, 0, 0, 0.6); }
  #banner .lr {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    opacity: 0; }
    #banner .lr a {
      right: 100px;
      position: absolute;
      /* top: 0; */
      margin: -34px 0 0;
      width: 34px;
      height: 68px;
      background: url(../img/icon1.png) no-repeat -670px -67px; }
      #banner .lr a:nth-of-type(2) {
        background-position: -625px -68px;
        left: 310px; }

#zhengpin {
  margin-bottom: 20px;
  height: 44px;
  border-bottom: 1px solid #eaeaea;
  background-color: #fff; }
  #zhengpin .zp {
    width: 1090px;
    margin: 0 auto; }
    #zhengpin .zp ul li {
      float: left;
      margin-right: 40px;
      color: #999;
      text-decoration: none;
      line-height: 45px; }
      #zhengpin .zp ul li a .iconfont {
        margin-right: 7px;
        font-size: 22px;
        vertical-align: -2px; }
      #zhengpin .zp ul li a:hover {
        color: #e01f35; }
    #zhengpin .zp div {
      float: right;
      line-height: 45px; }
      #zhengpin .zp div .iconfont {
        color: #e01f35;
        margin-right: 7px;
        font-size: 16px;
        vertical-align: -1px; }
      #zhengpin .zp div a {
        color: #e01f35; }
        #zhengpin .zp div a:hover {
          text-decoration: underline; }

#discount {
  background: #f6f6f6; }
  #discount ul {
    margin: 0 auto;
    width: 1090px; }
    #discount ul li {
      float: left;
      margin-right: 10px; }
      #discount ul li:last-child {
        margin: 0; }

#wrap {
  background: #f6f6f6;
  padding-bottom: 80px; }

#goods {
  width: 1090px;
  position: relative;
  margin: 0 auto;
  background: #fff;
  color: #999;
  min-height: 600px;
  zoom: 1; }
  #goods aside {
    position: absolute;
    top: -230px;
    left: 50%;
    margin-left: -665px;
    z-index: 99;
    width: 99px;
    background-color: #fff; }
    #goods aside ul {
      border: 1px solid #eaeaea;
      border-bottom: none; }
      #goods aside ul li a:hover {
        color: #e31436;
        background-color: #f6f6f6; }
    #goods aside .channel li a {
      display: block;
      height: 34px;
      line-height: 34px;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      color: #333;
      text-decoration: none;
      border-bottom: 1px solid #eaeaea; }
    #goods aside .floorResult li a {
      display: block;
      height: 28px;
      line-height: 28px;
      text-align: center;
      font-size: 12px;
      color: #333;
      text-decoration: none; }
  #goods .rightBarNew {
    right: 61.5px;
    display: block;
    position: absolute;
    top: -230px;
    z-index: 99;
    width: 58px;
    border: 1px solid #eaeaea;
    left: 50%;
    margin-left: 565px; }
    #goods .rightBarNew ul li a {
      display: block;
      width: 58px;
      height: 48px;
      padding: 10px 0 0;
      border-bottom: 1px solid #eaeaea;
      background: #fff;
      font-size: 12px;
      cursor: pointer;
      text-align: center; }
      #goods .rightBarNew ul li a .iconfont {
        font-size: 17px; }
      #goods .rightBarNew ul li a span {
        display: block; }
      #goods .rightBarNew ul li a:hover {
        color: #e31436;
        background-color: #f6f6f6; }
    #goods .rightBarNew ul li:last-child a {
      padding-top: 3px;
      height: 33px;
      border: 0;
      line-height: 14px;
      font-size: 10px;
      background: #999;
      color: #fff; }
      #goods .rightBarNew ul li:last-child a .iconfont {
        font-size: 14px; }
    #goods .rightBarNew ul li:last-child a:hover {
      background: #aaa; }
  #goods .leftscr {
    position: fixed;
    top: 66px; }
  #goods .rightscr {
    right: 61.5px;
    display: block;
    position: fixed;
    top: 66px; }
  #goods .time {
    line-height: 32px;
    padding: 37px 0 10px;
    font-size: 14px;
    background: #f6f6f6; }
    #goods .time .h {
      font-size: 22px;
      font-weight: bold;
      color: #333;
      margin-right: 10px; }
    #goods .time span {
      font-weight: 600; }
      #goods .time span i {
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        color: #fff;
        text-align: center;
        vertical-align: 1px;
        background-color: #333;
        border-radius: 50%;
        text-align: center; }
    #goods .time a {
      float: right;
      color: #333; }
      #goods .time a:hover {
        text-decoration: underline; }
  #goods .snapUp {
    border-top: 2px solid #333; }
    #goods .snapUp ul {
      float: left;
      width: 868px;
      border-left: 1px solid #eaeaea; }
      #goods .snapUp ul li {
        position: relative;
        float: left;
        width: 433px;
        height: 188px;
        border-right: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;
        background-color: #fff; }
        #goods .snapUp ul li .detail {
          position: relative;
          float: right;
          margin-right: 20px;
          width: 205px;
          height: 188px; }
          #goods .snapUp ul li .detail .intro {
            margin: 20px 0 6px;
            height: 21px;
            overflow: hidden;
            font-weight: bold; }
            #goods .snapUp ul li .detail .intro a {
              color: #333; }
          #goods .snapUp ul li .detail .shortTitle {
            line-height: 20px;
            overflow: hidden;
            font-size: 12px;
            color: #666; }
            #goods .snapUp ul li .detail .shortTitle b {
              font-weight: bold; }
          #goods .snapUp ul li .detail .price {
            margin: 14px 0 2px;
            font-size: 24px;
            font-weight: bold;
            color: #e11935; }
            #goods .snapUp ul li .detail .price span {
              margin-left: 8px;
              font-size: 14px;
              font-weight: normal;
              color: #999; }
            #goods .snapUp ul li .detail .price del {
              font-size: 14px;
              font-weight: normal;
              color: #999; }
          #goods .snapUp ul li .detail .process {
            position: relative;
            width: 100px;
            height: 18px;
            line-height: 18px;
            text-align: left;
            font-size: 12px;
            color: #de2634;
            border: 1px solid #f3c7c7;
            overflow: hidden;
            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;
            border-radius: 9px; }
            #goods .snapUp ul li .detail .process b {
              display: inline-block;
              height: 100%;
              background-color: #ffd2c5; }
            #goods .snapUp ul li .detail .process p {
              position: absolute;
              left: 10px;
              top: 0; }
          #goods .snapUp ul li .detail .btn {
            display: inline-block;
            position: absolute;
            bottom: 30px;
            right: 0;
            width: 78px;
            height: 26px;
            line-height: 26px;
            border: 1px solid #de2634;
            text-align: center;
            font-size: 14px;
            color: #fff;
            background-color: #de2634;
            text-decoration: none; }
    #goods .snapUp .aside {
      float: right; }
  #goods .update {
    width: 1090px;
    overflow: hidden; }
    #goods .update ul {
      margin: 0 -1px;
      height: 461px;
      overflow: hidden; }
      #goods .update ul li {
        text-align: center;
        float: left;
        width: 181px;
        height: 230px;
        font-size: 12px;
        border: 1px solid #f0f0f0;
        border-width: 0 0 1px 1px; }
        #goods .update ul li a:nth-of-type(2) {
          display: block;
          margin: 0 12px;
          width: 157px;
          height: 18px;
          line-height: 18px;
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: #333; }
        #goods .update ul li p span:nth-of-type(1) {
          color: #e31436; }
          #goods .update ul li p span:nth-of-type(1) b {
            font-size: 16px;
            font-weight: bold; }
        #goods .update ul li .onep {
          font-size: 14px;
          color: #333; }
        #goods .update ul li .one {
          margin-top: 3px;
          font-size: 18px;
          color: #e31436; }
        #goods .update ul li:last-child {
          background: url(../img/back.jpg);
          position: relative; }
          #goods .update ul li:last-child span {
            display: inline-block;
            position: absolute;
            top: 130px;
            left: 50%;
            margin-left: -32px;
            width: 64px;
            height: 34px;
            font-size: 26px;
            color: #151515;
            overflow: hidden; }
      #goods .update ul .twoImg {
        border-left: none; }
        #goods .update ul .twoImg img {
          transition: all .2s; }
          #goods .update ul .twoImg img:hover {
            transform: translateX(-10px); }
      #goods .update ul .itm a:hover {
        text-decoration: underline; }
      #goods .update ul .itm:hover a img {
        opacity: 0.6; }
  #goods .brand {
    overflow: hidden; }
    #goods .brand .brandLeft {
      width: 180px;
      height: 273px;
      overflow: hidden;
      position: relative;
      float: left; }
      #goods .brand .brandLeft ul {
        position: relative;
        float: left;
        width: 180px;
        height: 273px;
        overflow: hidden; }
        #goods .brand .brandLeft ul li {
          position: absolute;
          top: 0;
          left: 0;
          width: 180px;
          height: 100%;
          text-align: center; }
          #goods .brand .brandLeft ul li a div {
            height: 92px;
            background-color: #151515;
            color: #fff; }
            #goods .brand .brandLeft ul li a div p {
              margin: 0 12px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              text-align: center; }
              #goods .brand .brandLeft ul li a div p:nth-of-type(1) {
                padding-top: 25px;
                font-size: 14px;
                font-weight: bold; }
      #goods .brand .brandLeft ol {
        position: absolute;
        top: 181px;
        left: 0;
        width: 183px;
        height: 2px;
        z-index: 10; }
        #goods .brand .brandLeft ol li {
          float: left;
          margin-right: 2px;
          width: 59px;
          height: 2px;
          background-color: #555; }
          #goods .brand .brandLeft ol li:last-child {
            position: absolute; }
        #goods .brand .brandLeft ol .on {
          background: #e31436; }
      #goods .brand .brandLeft .coord {
        position: absolute;
        top: 75px;
        line-height: 32px;
        width: 100%;
        text-align: center;
        z-index: 10;
        color: #fff;
        font-size: 22px;
        font-weight: bold;
        opacity: 0; }
        #goods .brand .brandLeft .coord a {
          position: absolute;
          width: 30px;
          height: 30px;
          right: 0;
          background: #000;
          color: #ccc; }
          #goods .brand .brandLeft .coord a:nth-of-type(1) {
            left: 0; }
    #goods .brand .brandRight {
      float: right;
      display: inline-block;
      width: 910px;
      zoom: 1; }
      #goods .brand .brandRight li {
        position: relative;
        float: left;
        width: 181px;
        height: 136px;
        border-right: 1px solid #f0f0f0;
        border-bottom: 1px solid #f0f0f0;
        overflow: hidden; }
        #goods .brand .brandRight li .show {
          width: 100%;
          height: 100%;
          position: absolute; }
          #goods .brand .brandRight li .show img {
            display: block;
            margin: 12px auto 0;
            width: 50%;
            height: 90px; }
          #goods .brand .brandRight li .show p {
            margin: 10px -90px 0;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            color: #333; }
        #goods .brand .brandRight li .hide {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          background: rgba(3, 3, 3, 0.8);
          opacity: 0;
          text-align: center; }
          #goods .brand .brandRight li .hide a:nth-of-type(1) {
            display: inline-block;
            position: absolute;
            top: 10px;
            left: 10px;
            width: 58px;
            height: 16px;
            line-height: 16px;
            color: #fff;
            border: 1px solid #fff;
            text-decoration: none;
            border-radius: 8px; }
          #goods .brand .brandRight li .hide p {
            margin: 45px 0 6px;
            color: #fff; }
          #goods .brand .brandRight li .hide a:nth-of-type(2) {
            display: block;
            margin: 0 auto;
            width: 76px;
            height: 20px;
            line-height: 20px;
            color: #fff;
            background-color: #e31436;
            text-decoration: none;
            border-radius: 10px; }
  #goods .floor {
    background: #f6f6f6; }
    #goods .floor .h {
      float: left; }
    #goods .floor .floorUl {
      float: left; }
      #goods .floor .floorUl li {
        float: left;
        display: inline-block; }
        #goods .floor .floorUl li a {
          float: none;
          border-right: 1px solid #ccc;
          padding: 0 10px; }
    #goods .floor .floorCon {
      border: 1px solid #eaeaea;
      background: url(../img/1bmgujojm44_246_440.jpg) no-repeat;
      border-top: 2px solid #333;
      border-left: 0;
      height: 440px;
      background-color: #fff; }
      #goods .floor .floorCon .partl {
        position: relative;
        float: left; }
        #goods .floor .floorCon .partl ul {
          width: 220px;
          margin: 24px 0 0 26px; }
          #goods .floor .floorCon .partl ul li {
            text-align: center;
            float: left;
            margin: 5px;
            border-radius: 50%; }
            #goods .floor .floorCon .partl ul li a {
              display: inline-block;
              width: 58px;
              height: 58px;
              border-radius: 50%;
              line-height: 58px;
              color: #333;
              background: #fff; }
              #goods .floor .floorCon .partl ul li a:hover {
                color: #e31436;
                background: rgba(255, 255, 255, 0.6); }
      #goods .floor .floorCon .parttwo {
        float: left;
        width: 600px; }
        #goods .floor .floorCon .parttwo li {
          float: left;
          text-align: center;
          border: 1px solid #eaeaea;
          border-width: 1px 1px 0 0; }
          #goods .floor .floorCon .parttwo li a {
            display: block;
            padding: 20px 0 0;
            width: 299px;
            height: 200px; }
            #goods .floor .floorCon .parttwo li a h3 {
              font-size: 16px;
              font-weight: bold;
              color: #333; }
      #goods .floor .floorCon .partthree {
        float: left;
        padding-left: 20px;
        width: 200px;
        position: relative;
        overflow: hidden; }
        #goods .floor .floorCon .partthree h3 {
          font-size: 16px;
          line-height: 40px;
          padding: 10px 0 0;
          color: #333;
          font-weight: bold; }
        #goods .floor .floorCon .partthree ul {
          position: relative;
          zoom: 1;
          width: 100%;
          height: 356px;
          overflow: hidden; }
          #goods .floor .floorCon .partthree ul li {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            background: #fff; }
            #goods .floor .floorCon .partthree ul li .img {
              display: inline-block;
              float: left; }
            #goods .floor .floorCon .partthree ul li div {
              border-bottom: 1px dotted #eaeaea;
              padding: 0 0 10px;
              margin: 0 0 10px;
              overflow: hidden; }
              #goods .floor .floorCon .partthree ul li div div {
                border-bottom: none;
                padding: 0 0 0 10px;
                margin: 0 0 0 0; }
              #goods .floor .floorCon .partthree ul li div h5 {
                height: 36px;
                line-height: 18px;
                overflow: hidden; }
              #goods .floor .floorCon .partthree ul li div p {
                margin: 6px 0 0; }
                #goods .floor .floorCon .partthree ul li div p span:nth-of-type(1) {
                  color: #e31436; }
                  #goods .floor .floorCon .partthree ul li div p span:nth-of-type(1) strong {
                    font-size: 14px; }
        #goods .floor .floorCon .partthree ol {
          position: relative;
          width: 45px;
          margin: 12px auto;
          text-align: center;
          overflow: hidden; }
          #goods .floor .floorCon .partthree ol li {
            float: left; }
            #goods .floor .floorCon .partthree ol li a {
              display: inline-block;
              width: 5px;
              height: 5px;
              border-radius: 50%;
              background: #ccc;
              margin: 0 5px; }
          #goods .floor .floorCon .partthree ol .on a {
            background: #333; }
    #goods .floor .pinpai {
      background: #fff;
      margin: 10px 0 0;
      border: 1px solid #eaeaea;
      line-height: 108px; }
      #goods .floor .pinpai li {
        float: left;
        width: 108px;
        font-size: 16px;
        font-weight: bold;
        color: #333;
        text-align: center;
        line-height: 108px; }
  #goods .guess ul {
    overflow: hidden; }
    #goods .guess ul li {
      float: left;
      margin: 0;
      border: 0;
      border-right: 1px solid #eaeaea;
      width: 271px;
      height: 350px; }
      #goods .guess ul li img {
        width: 271px;
        height: 271px; }
      #goods .guess ul li p {
        margin-bottom: 9px;
        padding: 0 15px;
        height: 40px;
        overflow: hidden; }
        #goods .guess ul li p a {
          line-height: 20px;
          font-size: 12px;
          color: #333;
          font-weight: normal;
          word-break: break-all; }
      #goods .guess ul li div {
        padding: 0 15px; }
        #goods .guess ul li div p {
          margin: 0;
          padding: 0;
          float: left; }
          #goods .guess ul li div p span {
            color: #e31436; }
            #goods .guess ul li div p span b {
              line-height: 14px;
              font-size: 16px;
              font-weight: bold; }
        #goods .guess ul li div a {
          float: right; }

/*# sourceMappingURL=index.css.map */
